 {% extends 'based.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<link rel="stylesheet" href="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css">
<script src="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js"></script>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">Account</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Create Token</h3>
                            </div>
                            <hr>
                            <div class="card-div-0">
                                <div>
                                    <button class=" btn-success btn-lg btn-info" id="submit-token">Submit</button>
                                    <button class=" btn-success btn-lg btn-info" id="check-token">Check</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">SandBag</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Setting</h3>
                            </div>
                            <hr>
                            <div class="row" style="padding-left:30px;">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div style="padding-top:-20px; padding-left:50px">
                                    <button class=" btn-success btn-lg btn-info" id="submit-token">Submit</button>
                                </div>
                            </div>
                            <div class="row" style="padding-top:15px;padding-left:30px;">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div style="padding-top:-20px; padding-left:50px">
                                    <button class=" btn-success btn-lg btn-info" id="submit-token">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright 2020 © eCloudvalley Digital Technology Co., Ltd. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% load staticfiles %}
    <link href="{% static 'css/setting-style.css' %}" rel="stylesheet" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest"></script>
    <script src="{% static 'js/setting.js' %}"></script>
    {% endblock %}